
<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/gallery.css" />
    <link rel="stylesheet" href="assets/css/subscribe.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

    <script type="module" src="assets/js/client.js"></script>
</head>

<body>
    <div id="page-wrapper">

        <!-- header & nav -->
        <%- include('../../partials/header'); %>

        <!-- banner -->
        <section id="banner">

            <div class="inner">
                <div class="gallery">

            <!-- Ivan: added 'main', fetch will land inside this  -->
                    <main>

                    </main>

                </div>
            </div>
        </section>
        <body class=<%= current %>>
            <div class="gallery-wrapper">

        <!-- subscribe -->
        <%- include('../../partials/subscribe'); %>

        <!--Ivan: fetch() Implementation template -->
        <script>

        const main = document.querySelector('main');

        fetch('/api/v0/gallery')
            .then(function(response) {
            console.log(response);
            return response.json();
        })
            .then(function(data) {
    // Any code that needs `data` should be in this code block.
                console.log(data);
                let imgTemplate = '';

            data.forEach(function(item){
                console.log(item);
                imgTemplate += 
                    `<figure>

                        <img src="images/gallery/${item.id}/${item.width}/${item.height}" alt="${item.}">

                        <figcaption>${item.description}</figcaption>

                    </figure>`;
            })

            main.innerHTML = imgTemplate;
        })
        
            .catch((error) => {
            console.error('Error:', error);
        });

        console.log('Done executing main process.');

        </script>

        <!-- Footer -->
        <%- include('../../partials/footer'); %>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>
